<md-input-container flex>
<label>País</label>
<md-select name="paisMascota" ng-model="mm.mascotaPerdida.pais" ng-change="mm.paisSelect(pais)" size="55" required>
  <md-option ng-repeat="pais in paises" value="{{pais.abbrev}}">
    {{pais.abbrev}}
  </md-option>
</md-select>
</md-input-container>        
<md-input-container flex>
<label>Ciudad</label>
<md-select name="ciudadMascota" ng-model="mm.mascotaPerdida.ciudad" size="55" required>
  <md-option ng-repeat="ciudad in ciudades" value="{{ciudad.abbrev}}">
    {{ciudad.abbrev}}
  </md-option>
</md-select>
</md-input-container>
<section name="listaMascotasPerdidas" class="row-fluid">
    <div ng-repeat="m in mm.mascotasPerdidas | filter:m.mascotasPerdidas | orderBy:mm.campoOrder:mm.sort">
		<img src="img/siluetas/silueta-gato.jpg" style="float:left;margin:0px 5px 5px 5px;" alt="Gato perdido" title="Gato perdido" height="100" width="120">        
		<p>
        	se llama {{m.nombre_mascota | uppercase}} y  es un {{m.tipo_mascota | uppercase}}</br>
        	sus colores son: {{m.color_mascota | uppercase}}</br>
        	sexo: {{m.sexo | uppercase}}, edad: {{m.edad | uppercase}} años</br>
        	país: {{m.pais | uppercase}}, ciudad: {{m.ciudad | uppercase}}</br>
        	+ info sobre el anuncio
        </p>
    </div>
</section>